.btn {
  appearance: none;
  border: 0;
  border-radius: 4px;
  font-size: $button-font-size-mobile;
  color: $color-white;
  background-color: transparent;
  outline: inherit;
  display: inline-block;
  text-align: center;
  user-select: none;
  text-decoration: none;
  padding: 10px 38px;
  line-height: 1.88;

  &--filled {
    border: 1px solid $color-hot-cinnamon;
    background-color: $color-tango;
    transition: background-color, border-color, $trs ease;

    &:hover {
      background-color: $color-mine-shaft;
      border-color: $color-mine-shaft;
    }
  }

  @include media(up, $tablet) {
    font-size: $button-font-size;
    line-height: 1.416;
  }

  &-nav {
    cursor: pointer;
    position: relative;
    display: none;
    width: 29px;
    height: 25px;
    padding: 0;

    @include media(down, $tablet-small) {
      display: block;
    }

    &.active {
      &:after {
        opacity: 0;
        visibility: hidden;
      }

      &:before {
        top: 50%;
        transform: rotate(45deg);
      }

      span:after {
        top: 50%;
        transform: rotate(-45deg);
      }
    }

    &:before,
    &:after,
    span:after {
      content: '';
      background-color: $color-white;
      position: absolute;
      height: 2px;
      width: 100%;
      display: block;
      left: 0;
      transition-property: opacity, visibility, transform, top;
      transition-duration: $trs;
      transition-timing-function: ease-in-out;
    }

    &:before {
      top: 4px;
    }

    &:after {
      top: 12px;
    }

    span:after {
      bottom: 3px;
    }
  }
}
