* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include body-text;
  background-color: $color-white;
  color: $color-mine-shaft;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.container {
  @include center-block(100%);
  padding-inline: 15px;

  @include media(up, $mobile) {
    max-width: 540px;
  }

  @include media(up, $tablet-small) {
    max-width: 720px;
  }

  @include media(up, $tablet) {
    max-width: 960px;
  }

  @include media(up, $desktop) {
    max-width: 1140px;
  }
}

.sr-only {
  @include width-height(1px);
  position: absolute;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
