@mixin title-h1 {
  font-size: clamp($h1-font-size-mobile, 8vw, $h1-font-size);
  line-height: 1;
  font-weight: 400;
}

@mixin title-h2 {
  font-size: clamp($h2-font-size-mobile, 6vw, $h2-font-size);
  line-height: 1;
  font-weight: 400;
}

@mixin title-h3 {
  font-size: $h3-font-size-mobile;
  font-weight: 700;
  line-height: 1.428;

  @include media(up, $tablet-small) {
    font-size: $h3-font-size;
  }
}

@mixin body-text {
  font-size: $text-font-size;
  line-height: 1.5;
}
