/**
 *
 * Colors
 *
 */

$color-white: #ffffff;
$color-black: #000;
$color-mercury: #e3e3e3;
$color-tango: #f07c29;
$color-hot-cinnamon: #d6681b;
$color-mine-shaft: #333333;
$color-mine-shaft-2: #222222;
$color-mine-shaft-3: #393939;
$color-gallery: #ededed;
$color-alabaster: #f8f8f8;
$color-dove-grey: #666666;
$color-alto: #dddddd;

/**
   *
   * Font size
   *
   */

$h1-font-size: 100px;
$h1-font-size-mobile: 30px;
$h2-font-size: 80px;
$h2-font-size-small: 70px;
$h2-font-size-mobile: 45px;
$h3-font-size: 32px;
$h3-font-size-mobile: 21px;
$button-font-size: 24px;
$button-font-size-mobile: 18px;
$text-font-size: 16px;
$text-font-size-mobile: 14px;
$header-font-size: 13px;
$text-font-size-small: 12px;

/**
   *
   * Transitions
   *
   */

$trs: 0.3s;

/**
   *
   * Shadows
   *
   */

$shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);

/**
   *
   * Border-radius
   *
   */
$border-radius: 8px;

/**
   *
   * Break-points
   *
   */

$desktop-big: 1400px;
$desktop: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
