.section-hero {
  background-image: url(../assets/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow-x: hidden;

  @include media(down, $tablet) {
    text-align: center;
  }

  &__title {
    @include title-h1;
    color: $color-mine-shaft;
    margin-block: 10px 7px;
    --animate-delay: 0.4s;

    @include media(up, $tablet) {
      margin-block-end: 25px;
    }
  }

  &__subtitle {
    @include title-h2;
    color: $color-white;
  }

  &__entry {
    color: $color-dove-grey;
    font-size: 20px;
    line-height: 1;
    --animate-delay: 0.5s;

    @include media(up, $tablet) {
      font-size: $h1-font-size-mobile;
    }
  }

  &__actions {
    margin-block-start: 20px;

    @include media(up, $tablet) {
      margin-block-end: 43px;
    }
  }
}
